.firstbox {
    width: 20em;
    height: 10em;
    background-color: rgb(180, 235, 251);
    border: 3px solid rgb(99, 17, 161);
}

.clouds {
    width: 20em;
    height: 10em;
    background: url(../img/f03.png);
    background-size: 22em;
    background-repeat: repeat-x;
    position: absolute;
    margin-left: 20px;
}

.mario {
    width: 20em;
    height: 15em;
    background: url(../img/f02.png);
    background-size: 23em;
    background-repeat: no-repeat;
    margin-left: -20px;
}

.land {
    width: 20em;
    height: 15px;
    background: url(../img/f01.png);
    position: absolute;
    bottom: 80.6%;
}

.secondbox {
    width: 40em;
    height: 30em;
    background-color: rgb(180, 235, 251);
    border: 5px solid rgb(221, 14, 14);
    margin: 3em;
    padding: 0%;
}

.thirdbox {
    width: 20em;
    height: 10em;
    background-color: rgb(180, 235, 251);
    border: 3px solid rgb(99, 17, 161);
}

.land1 {
    width: 20em;
    height: 15px;
    background: url(../img/f01.png);
    position: absolute;
    bottom: -3.8%;
}

.cloudsOption {
    display: flex;
}

.marioOption {
    display: flex;
    align-items: flex-end;    
}

.clouds1 {
    width: 20em;
    height: 10em;
    background: url(../img/f03.png);
    background-size: 22em;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.mario1 {
    width: 20em;
    height: 15em;
    background: url(../img/f02.png);
    background-size: 23em;
    background-repeat: no-repeat;
    background-position-y: 4.5em;
}

.land2 {
    width: 20em;
    height: 15px;
    background: url(../img/f01.png);
    position: absolute;
    bottom: 185px;
    
}

.land2-1 {
    width: 20em;
    height: 15px;
    background: url(../img/f01.png);
}

.secondbox {
    display: flex;
    flex-wrap: wrap;
}